<form class="m-t" role="form" n:name="loginForm">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Username" n:name="username">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Password" n:name="password">
	</div>

	<button type="submit" class="btn btn-primary block full-width m-b" n:name="submit">Login</button>

	<a href="#"><small>Forgot password?</small></a>
</form>