parameters:

extensions:
    console: Contributte\Console\DI\ConsoleExtension

console:
    catchExceptions: false
    autoExit: true
    lazy: false

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:



	##CONSOLE
	- App\Console\TestCommand

	router: App\RouterFactory::createRouter
