<li class="nav-header">
	<div class="dropdown profile-element">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
											class="font-bold">{$loggedUser->getName()}</strong>
                             </span> <span class="text-muted text-xs block">{$loggedUser->getRole()->getName()}
	</div>
	<div class="logo-element">
		IN+
	</div>
</li>